body {
    background-image: url()
}

nav {
	float: right;
	padding: 20px 20px 20px 0;
}
.mapa {
    top: 100px;
}

.mapa img {
    position: relative;
    top: 100px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    align-content: center;
}

.menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background: url(../imgs/main/menu-icon.png) center;
	background-size: cover;
}

.menu-principal a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	text-transform: capitalize;
}

.menu-principal a:hover {
	color: #fff;
	text-decoration: underline;
}

.menu-principal a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}

.menu-principal {
	list-style: none;
	position: relative;
}
		
ul li {
	display: inline-block;
	float: left;
	padding: 15px;
	text-transform: capitalize;
}

.menu.principal .principal{
	color: #fff;
	text-decoration: underline;
}

.encabezado {
  position: relative;
height: 200px;
}


.encabezado .contenido {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
    height: 200px;
  overflow: hidden;
  background: rgba(28,31,39, 0.6);
}

.contenido {
    
  width: 100%;
  height: auto;
  position: absolute;
}

.titulo {
	border-color: white;
	font-size: 30px;
	color: ghostwhite;
	text-shadow: 2px 2px darkblue;
	border-radius: 3px;
	text-align: center;
	font-family: Georgia;
	top: 25%;
	margin-right: 100px;
	position: relative;
	font-size:2.5em;
	text-transform: uppercase;
	font-weight: 700;
}
    
.descripcion {
	top:26%;
	width:60%;
	margin: 0 auto;
	text-align:center;
	color: white;
	position:relative;
	font-weight: 400;
	opacity: 0.8;
}

@media screen and (max-width: 700px) {
	#menu-icon {
        display: inline-block;
    }
	
	.menu-principal {
		position: absolute;
	}
	
	.menu-principal a:hover {
    background-color: #C5C5C5;
	}
	
	.menu-principal li:hover {
	  display: block;
	  max-height: 200px;
	  min-width: 150px;
	}

    nav .menu-principal, nav:active .menu-principal{
        z-index: 1;
      display: none;
      position: absolute;
      padding: 20px;
      background: #000;
      border: 0.5px solid #fff;
      right: 10px;
      width: 15%;
      border-radius: 2px 0 2px 2px;
    }
	
    nav li {
      text-align: center;
      width: 100%;
      padding: 10px 0;
      margin: 0 -4px;
	  animation: all 2s ease-in-out;
    }
	
    nav:hover ul {
      display: block;
        z-index: 10;
    }
	
	.titulo {
		font-size: 30px;
	}
	
  .cuadro,
  .cuadro:nth-child(2),
  .cuadro:nth-child(4),
  .cuadro:nth-child(6),
  .cuadro:nth-child(8) {
    max-width: 97%;
  }
}