.galeria {
    font-family: Georgia;
}

.galeria h1 {
    border-color: white;
	font-size: 30px;
	color: ghostwhite;
	text-shadow: 2px 2px darkblue;
	border-radius: 3px;
	text-align: center;
	font-family: Georgia;
	top:25%;
	position:relative;
	text-transform:uppercase;
	font-weight:700;
}

.linea {
	margin-right: auto;
	margin-left: auto;
    border-top: 5px solid white;
	width: 700px;
}
		
#mapaSATELITE {
	margin-right: auto;
	margin-left: auto;
}
		
body {
	background-color:#141826;
	margin:10px;
}
		
.centrado{
	margin-right: auto;
	margin-left: auto;
	position: relative;
	width: 700px;
}

.map {
	width:700px;
	height:auto;
}


#go {
	position: fixed;
	z-index: 100;
	width: 200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	bottom: 10px;
	left: 10px;
}

#interact {
	z-index: 150;
	position: relative;
	left: 20px;
	top: 100px;
	font-size:30px;
	color: white;
}

#show-modal {
	position: absolute;
	z-index: 101;
	text-align: center;
	color: #FF235C;
	border-radius: 50%;
	text-decoration: none;
	font-size: 20px;
	transition: all 0.15s linear;
	font-family: monospace;
	text-transform:uppercase;
}

#show-modal:hover {
	cursor: pointer;
	color: white;
}

.modal{
	position: fixed;
	top: -100vh;
	left: 0;
	z-index: 200;
	width: 100vw;
	height: 100vh;
	transition: opacity 0.5s ease;
}

.modal .content-modal{
	width: 100%;
	max-width: 500px;
	position: fixed;
	left: 50%;
	top: -100vh;
	transition: top 0.4s ease;
	margin-left: -250px;
	background: #383759;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	border-radius: 2px;
	z-index: 200;
}

.modal h2{
	padding: 0.42em;
	text-align: center;
	color: white;
	margin: 0;
	font-family: monospace;
}

.modal article{
	height: 450px;
	background: #EEEEEE;
	font-family: Georgia;
	padding: 15px;
}

.close-modal{
	color: white;
	font-family: monospace;
	position: absolute;
	top: 0.2em;
	right: 0.375em;
	margin: 0;
	padding:5px;
	font-size: 1.5em;
	text-decoration: none;
}

.modal a:hover{
	color: yellow;
}

.modal:target{
	opacity: 1;
	top:0;
}

.modal .btn-close-modal{
	position: absolute;
	left:0;
	width: 100%
	height: 100%
	z-index: 333;
}

.modal:target .content-modal{
	top: 50px;
	transition: top 0.35s ease;
}

/* --------------- Medias -----------------*/
     
/* PC */

@media (min-width: 1920px) {
	.map {
		margin-top: 15%;
		transform: scale(1.40);
	}
}

/* -- Animación para el botón GO --*/

/* -- Chrome y Safari --*/
@-webkit-keyframes click {
    0% {
       transform: scale(1.0);
    }
    50% {
       transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

/* -- Firefox --*/
@-moz-keyframes click {
    0% {
       transform: scale(1.0);
    }
    50% {
       transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

/* -- Opera --*/
@-o-keyframes click {
    0% {
       transform: scale(1.0);
    }
    50% {
       transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}
#go {
	/* -- Chrome y Safari --*/
    -webkit-animation: click 1.5s;
    -webkit-animation-iteration-count: infinite;
	/* -- Firefox --*/
    -moz-animation: click 1.5s;
    -moz-animation-iteration-count: infinite;
	/* -- Opera --*/
    -o-animation: click 1.5s;
    -o-animation-iteration-count: infinite;
}

#mapaSATELITE {
	margin-right: auto;
	margin-left: auto;
}

/* ---------------------------------------------------*/

/* -- Media para tablets --*/
@media (min-width: 768px) and (max-width: 1024px) {
	
	/* -- Posicion de los contenidos --*/
	body {
        position: relative;
    }
	
	/* -- Parte superior --*/
	
	#favicon {
		max-width: 100px;
		margin-left: 42%;
		margin-top: -10px;
	}
	
	/* -- Parte central --*/
	.contenido {
		width: 45em;
		margin-top: 13%;
	}
	
	/* -- Parte inferior --*/
	#go {
	position: fixed;
	z-index: 100;
	width: 200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	bottom: 10px;
	left: 10px;
}

.linea {
	margin-right: auto;
	margin-left: auto;
    border-top: 5px solid white;
	width: 700px;
}

#mapaSATELITE {
	margin-right: auto;
	margin-left: auto;
}
}

/* -- Media para móviles --*/
@media (min-width: 320px) and (max-width: 767px) {
	
	/* -- Posicion de los contenidos --*/
    body {
        position: relative;
    }
	
	/* -- Parte superior --*/
	h1{
		font-size: 30px;
		margin-left: 15%;
	}
	
	#favicon {
		max-width: 70px;
		margin-left: 48%;
		margin-top: -10px;
	}
	
	h1 {
		margin-top:-20px;
	}
	
	/* -- Parte central --*/
	.contenido {
		width: 25em;
		margin-top: 20%;
		margin-right: 20%;
	}
	
	/* -- Parte inferior --*/
	#go {
	position: fixed;
	z-index: 100;
	width: 150px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	bottom: 10px;
	left: 10px;
}

.linea {
	margin-right: auto;
	margin-left: auto;
    border-top: 5px solid white;
	width: 70%;
}
}
