body{
  margin: 0px;
  padding: 0px;
  background-color: #141826;
}

.logo-GO {
	position:relative;
}

#go {
	position: fixed;
	z-index: 100;
	width: 200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	bottom: 10px;
	left: 10px;
}

/* -- Animación para el botón GO --*/

/* -- Chrome y Safari --*/
@-webkit-keyframes click {
    0% {
       transform: scale(1.0);
    }
    50% {
       transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

/* -- Firefox --*/
@-moz-keyframes click {
    0% {
       transform: scale(1.0);
    }
    50% {
       transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

/* -- Opera --*/
@-o-keyframes click {
    0% {
       transform: scale(1.0);
    }
    50% {
       transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

#go {
	/* -- Chrome y Safari --*/
    -webkit-animation: click 1.5s;
    -webkit-animation-iteration-count: infinite;
	/* -- Firefox --*/
    -moz-animation: click 1.5s;
    -moz-animation-iteration-count: infinite;
	/* -- Opera --*/
    -o-animation: click 1.5s;
    -o-animation-iteration-count: infinite;
}

.titulo {
	border-color: white;
	font-size: 50px;
	color: ghostwhite;
	text-shadow: 2px 2px darkblue;
	border-radius: 3px;
	text-align: center;
	font-family: Georgia;
	top:25%;
	position:relative;
	font-size:2.5em;
	text-transform:uppercase;
	font-weight:700;
}

.card{
  margin: 1% 0% 0% 3.5%;
  height: 300px;
  border-radius: 2px;
  position: relative;
  background-color: #ccc;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  float: left;
  z-index: 0;
  transition: width 0.1s linear;
}

@media only screen and (min-width: 1000px) {
    .card {
        width: 45%;
    }
}

@media only screen and (max-width: 999px) {
    .card {
      width: 96%;
      margin: 10px 2%;
    }
  .expanded > .card-image{
    max-height: 35%;
  }
}

.right{
  float: right;
  margin-right: 3%;
  transform-origin: right;
}

.expanded{
  box-shadow: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  margin:0px;
  transition: width 0.3s ease, height 0.5s 0.2s ease;
}

.expanded .right{
  right: 0px;
}

.card-control{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #444;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  position: absolute;
  right: 20px;
  bottom: 20px;
  border: 0px;
  cursor: pointer;
  outline: none;
}

.card-control:before{
  content: '';
  height: 2px;
  background: white;
  width: 60%;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: rotate(0deg);
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.6s ease-in-out, width 0.2s ease-in-out, top 0.1s linear, left 0.5s linear, right 0.5s linear;
}

.card-control:after{
  content: '';
  height: 2px;
  background: white;
  width: 60%;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: rotate(90deg);
  transition: transform 0.6s ease-in-out, width 0.2s ease-in-out, top 0.1s linear, right 0.5s linear;
}

.expanded > .card-control{
  bottom: 85%;
  transition: bottom 0.3s 0.1s ease;
}

.expanded > .card-control:before{
  position: absolute;
  right: 15px;
  top: 22px;
  transform: rotate(180deg);
}

.expanded > .card-control:after{
  position: absolute;
  right: 15px;
  top: 24px;
  transform: rotate(360deg);
}
.card-image{
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  z-index: 0;
}

.filter {
	filter: brightness(80%);
}

.expanded > .card-image{
  max-height: 35%;
  filter: brightness(70%);
}
.card-image img{
  width: 100%;
}

.card:hover, .card:focus {
  box-shadow: 0 10px 40px rgba(0,0,0,1);
}

.card-desc {
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  margin: 2% 1%;
 font-family: Georgia;
 z-index: 99;
}

.card-desc-head {
  font-size: 35px;
  padding: 0px;
  margin: 0px;
  margin-top: -35%;
  font-weight: 700;
  text-align: center;
  border-color: white;
  color: ghostwhite;
  text-shadow: 2px 2px #141826;
  border-radius: 3px;
  z-index: 99;
  transition: all 500ms;
}

.card:hover .card-desc-head{
    font-size:37px;
}

.expanded > .card-desc > .card-desc-head{
    position: absolute;
    top: 12.7%;
    padding: 5px;
	font-size: 45px;
  padding: 0px;
  margin: 0px;
  font-weight: 700;
  border-color: white;
  color: ghostwhite;
  text-shadow: 2px 2px #141826;
  border-radius: 3px;
  margin-left: 30%;

}


@media only screen and (max-width: 999px) {
    .expanded > .card-desc > .card-desc-head{
      position: absolute;
      top: 20%;
      font-size: 2.5vh;
      width: 80%;
    }
}

.expanded > .card-desc >  .article{
  overflow-y: scroll;
  top: 50%;
  height: 65%;
  width: 99%;
  margin-bottom:10px;
  position: absolute;
  visibility: visible;
}

.article {
	margin-top: -7.1%;
	visibility: hidden;
}

.card-desc-peak{
  color: #333;
  width: 100%;
  margin: 5px 0px;
  font-size: 16px;
  height: 36px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expanded > .card-desc > .article > .card-desc-peak{
  height: auto;
  word-spacing: normal;
  text-overflow: inherit;
  white-space: normal;
  font-size: 18px;
  height: auto;
  white-space: normal;
  width: 96%;
  margin: 0px 2%;
  -webkit-animation: text-appear 0.5s ease;
}

@keyframes text-appear{
  0%{opacity: 0}
  50%{opacity: 0; position: relative; top: 10px;}
  100%{opacity: 1; position: relative; top: 0px;}
}

@media (max-width: 700px) {
	
	.titulo {
		font-size: 35px;
	}
	
	.card-desc-head {
		margin-top: -45%;
		font-size: 30px;
	}
	
	.card:hover .card-desc-head{
		font-size:31px;
	}
	
	.article {
		margin-top: -25.1%;
	}
	
	.expanded > .card-desc > .card-desc-head{
		margin-left: 10%;
		top: 12%;
	}
	
	.card-control{
		right: 155px;
		bottom: 5px;
	}
	
	.expanded > .card-control{
	  bottom: 91.5%;
	}
	
	.article {
		margin-top: -40.1%;
	}
	
}

@media (max-width: 699px) {
	
	.titulo {
		font-size: 35px;
	}
	
	.card-desc-head {
		margin-top: -45%;
		font-size: 30px;
	}
	
	.card:hover .card-desc-head{
		font-size:31px;
	}
	
	.article {
		margin-top: -25.1%;
	}
	
	.expanded > .card-desc > .card-desc-head{
		margin-left: 10%;
		top: 12%;
	}
	
	.card-control{
		right: 130px;
		bottom: 5px;
	}
	
	.expanded > .card-control{
	  bottom: 91.5%;
	}
	
	.article {
		margin-top: -28.1%;
	}
	
}

.text {
  padding: 5px 15px;
}

.text p {
  max-width: 900px;
  margin: 10px auto;
  font-family: Georgia;
  font-size: 16px;
  line-height: 35px;
}

.background {
	height: 270px;
	width: 100%;
    background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-position: center center; 
}

@media (min-width: 1920px) {
	.card-desc-head {
		margin-top: -20%;
	}
	
	.text p {
		font-size: 20px;
	}
	
	.background {
		height: 300px;
	}
}

@media (max-width: 700px) {
  #go {
    width: 120px;
    }
}