/* --Encabezado --*/
.encabezado {
  position: relative;
}

.contenido {
  width: 100%;
  height: auto;
  position: relative;
}

.encabezado .contenido {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.contenido hr {
	background-color: white;
	width: 60%;    
	height: 1px;
	outline: none;
	border: none;
	opacity: 0.6;     
	position: relative; 
	margin-right: 10px;
	margin-left: 20%;
}

/* -- Texto principal --*/

.titulo {
	border-color: white;
	font-size: 50px;
	color: ghostwhite;
	text-shadow: 2px 2px darkblue;
	border-radius: 3px;
	text-align: center;
	font-family: Georgia;
	top:25%;
	position:relative;
	font-size:2.5em;
	text-transform:uppercase;
	font-weight:700;
}

.descripcion {
	top: 26%;
	width: 60%;
	margin: 0 auto;
	text-align: center;
	color:white;
	position:relative;
	font-weight: 400;
	opacity: 0.8;
}

/* --Logo --*/
#favicon {
	max-width: 80px;
	margin-left: 3%;
}

/* -- Menu --*/
nav {
	float: right;
	padding: 20px 20px 20px 0;
}

/* -- Icono menu responsive --*/
#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background: url(../imgs/main/menu-icon.png) center;
	background-size: cover;
  
}

/* -- Items --*/
.menu-principal a {
	color: #000;
	font-family: Georgia;
	font-size: 20px;
	text-decoration: none;
	text-transform: capitalize;
}

.menu-principal a:hover {
	color: #030a8c;
	text-decoration: underline;
}

.menu-principal a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}

.menu-principal {
	list-style: none;
	position: relative;
}
		
ul li {
	display: inline-block;
	float: left;
	padding: 15px;
	text-transform: capitalize;
}

#principal{
	color: #030a8c;
	text-decoration: underline;
}

/* -- Contenido --*/
.contenedor {
	position: relative;
	display: inline-block;
	float: none;
	margin: 1%;
	width: 97%;
	max-width: 1400px;
	margin-top: 1.5%;
}

.cuadro {
  position: relative;
  text-align: center;
  transition: -webkit-transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875);
  transition: transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875);
  transition: transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875),-webkit-transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875);
}

.cuadro-corto {
  max-width: 29.3333%;
  height: 250px;
}

.cuadro:hover, .cuadro:focus {
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}

.cuadro figure {
  z-index: 0;
  margin: 0;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.cuadro:hover figure, .cuadro:focus figure { 
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.cuadro a {
  display: table;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  transition: all .25s;
}

.cuadro a div {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 0 2rem;
}

.cuadro h3 {
  margin: 0 auto;
  font-size: 2rem;
  padding: 0 0 1rem;
  line-height: 1;
  margin-top: 20px;
}

.cuadro p {
  margin: 0 auto;
  color: #fff;
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.2;
  width: auto;
  transition: opacity 0s, max-height 0s;
  visibility: hidden;
}

.cuadro a:hover p, .cuadro a:focus p {
  color: #fff;
  transition: all .5s;
  visibility: visible;
}

.color-rojo {
  background: rgba(255, 60, 78, 0.76);
}
.color-amarillo {
  background: rgba(255, 185, 50, 0.50);
}
.color-verde {
  background: rgba(0, 0, 0, 0.60);
}
.color-azul {
  background: rgba(49, 12, 155, 0.66);
}
.color-violeta {
   background: rgba(225, 60, 255, 0.76);
}

/* --------------- Medias -----------------*/
     
/* PC */

@media (min-width: 1920px) {
  
  .contenedor {
	  margin-left: 12%;
  }
  
}

/* Tablet */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1280px) {
	  .cuadro-corto {
		  max-width: 45.3333%;
		  height: 230px;
	   }
	   
	   .ultimo{
		  margin-left: 25%;
	   }
}
 
/* Móvil */
@media (min-width: 320px) and  (max-width: 667px){
	  .titulo {
		  font-size: 20px;
	  }
	  
	  .descripcion {
		  font-size: 20px;
	  }
	  
	  .menu-principal a {
		  font-size: 15px;
	  }
}

@media (max-width: 700px) {
  
	.texto, .titulo, .descripcion, hr {
		position: relative;
	}
	
	#menu-icon {
        display: inline-block;
    }
	
	.menu-principal {
		position: absolute;
		z-index: 999;
	}
	
	.menu-principal a {
		color: #fff;
	}
	
	.menu-principal a:hover {
		color: #fff;
	}
	
	#principal {
		color: #fff;
	}
	
    nav .menu-principal, .menu-principal{
      display: none;
      position: absolute;
      padding: 20px;
      background: #000;
      border: 1px solid #fff;
      right: 20px;
      width: 15%;
      border-radius: 2px 0 2px 2px;
    }
	
    nav li {
      text-align: center;
      width: 100%;
      padding: 20px 0;
      margin: 0 -4px;
	  animation: all 2s ease-in-out
    }
	
    nav:hover ul {
      display: block;
    }
	
	.titulo {
		font-size: 30px;
	}
	
  .cuadro,
  .cuadro:nth-child(2),
  .cuadro:nth-child(4),
  .cuadro:nth-child(6),
  .cuadro:nth-child(8) {
    max-width: 97%;
  }
  
  .cuadro p {
	  visibility: hidden;
  }
  
  .cuadro p:hover {
	  visibility: visible;
  }
  
}
