body {
	background-color: #141826;
}

.galeria {
    font-family: Georgia;
}

.galeria h1 {
    border-color: white;
	font-size: 50px;
	color: ghostwhite;
	text-shadow: 2px 2px darkblue;
	border-radius: 3px;
	text-align: center;
	font-family: Georgia;
	top:25%;
	position:relative;
	font-size:2.5em;
	text-transform:uppercase;
	font-weight:700;
}

.logo-GO {
	position:relative;
}

#go {
	position: fixed;
	z-index: 100;
	width: 200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	bottom: 10px;
	left: 10px;
}

/* -- Animación para el botón GO --*/

/* -- Chrome y Safari --*/
@-webkit-keyframes click {
    0% {
       transform: scale(1.0);
    }
    50% {
       transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

/* -- Firefox --*/
@-moz-keyframes click {
    0% {
       transform: scale(1.0);
    }
    50% {
       transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

/* -- Opera --*/
@-o-keyframes click {
    0% {
       transform: scale(1.0);
    }
    50% {
       transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

#go {
	/* -- Chrome y Safari --*/
    -webkit-animation: click 1.5s;
    -webkit-animation-iteration-count: infinite;
	/* -- Firefox --*/
    -moz-animation: click 1.5s;
    -moz-animation-iteration-count: infinite;
	/* -- Opera --*/
    -o-animation: click 1.5s;
    -o-animation-iteration-count: infinite;
}


img {
	width: 375px;
	height:414px;
	position: relative;
}

.image {
  float: left;
  width: 30%;
  position: relative;
  margin: 5px;
}

.img-grid {
	margin-left: 5.5%;
}

.img-grid:after {
  content: "";
  clear: both;
  display: table;
}

.overlay {
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

 h2 {
  color: white;
  font-size: 26px;
  padding: 16px 32px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image:hover h2{
   opacity: 1;
   background: rgba(49, 12, 155, 0.66);
}

.image img {
  transition: transform 0.1s ease;
  cursor: zoom-in;
}

.image:active img{
  z-index: 1;
  cursor: zoom-out;
}

.image:active #left{
  transform: scale(1.5) translateX(50px) translateY(70px);
}

.image:active #center{
  transform: scale(1.5) translateX(5px) translateY(70px);
}

.image:active #right{
  transform: scale(1.5) translateX(-52px) translateY(70px);
}

/* --------------- Medias -----------------*/
     
/* PC */

@media (min-width: 1920px) {
  
  .image {
	  width: 32%;
  }

  .img-grid {
  	padding-right: 5%;
  }

  .galeria h1 {
	  font-size: 60px;
  }
  
}

/* Tablet */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1280px) {
	  .image {
	  width: 45%;
	}
	  
	  img {
		width: 270px;
		height: 340px;
		position: relative;
	  }
	  
	  .image img {
	  transition: none;
	 }
	 
	 .image:active #left{
	  transform: none;
	 }

	.image:active #center{
	  transform: none;
	 }

	.image:active #right{
	  transform: none;
	 }
  }
 
/* Móvil */
@media (max-width: 700px) {
  
  .galeria h1 {
	  font-size: 35px;
  }

  #go {
    width: 120px;
    }
  
  .image {
	  width: 92%;
  }
  
  img {
	width: 200px;
	height: 270px;
	position: relative;
  }
  
  h2 {
	  font-size: 14px;
  }
  
  .image:hover h2{
   opacity: 1;
   background: rgba(49, 12, 155, 0.66);
 }
 
 .image img {
  transition: none;
 }
 
 .image:active #left{
  transform: none;
 }

.image:active #center{
  transform: none;
 }

.image:active #right{
  transform: none;
 }
  
}