/* -- Fondo de la pagina con el satelite --*/
body {
	background: url(../imgs/main/satelite.jpg) no-repeat 50% 50%;
    background-size: cover;
	width: 100%;
    height: 100vh;
}

/* -- Posicion de los contenidos --*/
.logo-ESPAÑA, .contenido, .logo-GO, .idiomas{
	position:relative;
}

/* -- Parte superior --*/
.idioma, .idioma img, .idioma a {
	position: relative;
	z-index: 3;
}

.idioma {
	margin-left: 90%;
	margin-top: -100px;
}

.idioma img {
	max-width: 80px;
}

#favicon {
	max-width: 120px;
	margin-left: 42.5%;
	margin-top: -20px;
}

#titulo {
	margin-right: 4%;
}

h1 {
    border-color: white;
    font-size: 50px;
    color: ghostwhite;
    text-shadow: 2px 2px darkblue;
    border-radius: 3px;
    text-align: center;
	font-family: Georgia;
	margin-top: -35px;
	position: relative;
}

/* -- Parte central --*/

.contenido {
	margin-left: auto;
    margin-right: auto;
    width: 60em;
	margin-top: 10%;
}

/* -- Parte inferior --*/

#go {
	max-width: 250px;
	margin-left: 40%;
	margin-top: 5%;
}

/* -- Animación para el botón GO --*/

/* -- Chrome y Safari --*/
@-webkit-keyframes click {
    0% {
       transform: scale(1.0);
    }
    50% {
       transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

/* -- Firefox --*/
@-moz-keyframes click {
    0% {
       transform: scale(1.0);
    }
    50% {
       transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

/* -- Opera --*/
@-o-keyframes click {
    0% {
       transform: scale(1.0);
    }
    50% {
       transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}
#go {
	/* -- Chrome y Safari --*/
    -webkit-animation: click 1.5s;
    -webkit-animation-iteration-count: infinite;
	/* -- Firefox --*/
    -moz-animation: click 1.5s;
    -moz-animation-iteration-count: infinite;
	/* -- Opera --*/
    -o-animation: click 1.5s;
    -o-animation-iteration-count: infinite;
}


/* ---------------------------------------------------*/

/* PC */

@media (min-width: 1920px){
	.inicio {
		margin-left: 10%;
	}
	
	.superior {
		margin-right: 10%;
	}
	
	#favicon {
		max-width: 180px;
	}
	
	h1 {
		font-size: 75px;
	}
	
	.contenido {
		margin-left: 15%;
	}
	
	#go {
		margin-left: 34%;
		max-width: 320px;
	}
	
	.idioma {
		margin-left: 70%;
		margin-top: -100px;
	}

	.idioma img {
		max-width: 100px;
	}
}
  

/* PC */

@media (max-width: 1280px) {
	#favicon {
		max-width: 120px;
		margin-top: -5px;
	}
	
	.inicio {
		margin-top: 7%;
	}
	
	.superior {
		margin-right: 8%;
	}
	
	h1 {
		font-size: 50px;
	}
	
	.contenido {
		
		margin-left: 5%;
	}
	
	#go {
		max-width: 250px;
		margin-left: 35%;
		margin-top: 5%;
	}
	
}

/* -- Media para tablets --*/
@media (min-width: 768px) and (max-width: 1024px) {
	
	#favicon {
		max-width: 100px;
	}
	
	.superior {
		margin-right: 8%;
	}
	
	h1 {
		font-size: 45px;
	}
	
	.contenido {
		margin-top: 15%;
		margin-left: -5px;
	}
	
	.idioma img {
		max-width: 90px;
	}
	
	.idioma {
		margin-left: 70%;
		margin-top: -80px;
	}
	
	#go {
		max-width: 220px;
		margin-left: 35%;
		margin-top: 10%;
	}
}

/* -- Media para móviles --*/
@media (max-width: 767px) {
	
	/* -- Posicion de los contenidos --*/
    body {
        position: relative;
    }
	
	/* -- Parte superior --*/
	.superior {
		
	}
	
	h1 {
		font-size: 40px;
		margin-top:-20px;
	}
	
	#favicon {
		max-width: 80px;
		margin-top: 5%;
		margin-left: 35.5%;
	}
	
	/* -- Parte central --*/
	.contenido {
		width: 25em;
		margin-top: 30%;
		margin-left: 100%;
	}
	
	/* -- Parte inferior --*/
	#go {
	max-width: 170px;
	margin-left: 30%;
	margin-top: 25%;
	}
}

/* -- Móviles pequeños --*/
@media (max-width: 667px) {
	
	/* -- Posicion de los contenidos --*/
    body {
        position: relative;
    }
	
	/* -- Parte superior --*/
	.superior {
		margin-left: 15%;
	}
	
	h1 {
		font-size: 30px;
		margin-top:-20px;
	}
	
	#favicon {
		max-width: 70px;
		margin-top: 5%;
		margin-left: 32%;
	}
	
	/* -- Parte central --*/
	.contenido {
		width: 17em;
		margin-top: 30%;
		margin-left: 5%;
	}
	
	/* -- Parte inferior --*/
	#go {
		max-width: 160px;
		margin-left: 23%;
		margin-top: 25%;
	}
	
	.idioma {
		margin-left: 30%;
		margin-top: 10%;
	}

	.idioma img {
		max-width: 60px;
	}

}