body{
	background-color: #141826;
}

/* -- Encabezado --*/
.encabezado {
  width: 100%;
}

.encabezado video {
  width: 100%;
  height:350px;
  object-fit: fill;
  background:cover;
}

.encabezado .contenido {
  height: 100%;
}

.contenido hr {
	top:25%;
}

/* -- Contenido --*/	

.top, .bottom {
	margin-right: 2.5%;
	margin-left: 6%;
}


.cuadro {
  z-index: 0;
  display: inline-block;
  float: none;
  padding: 0;
  margin: 1.5%;
  height: 270px;
  width: 100%;
  background: #eee;
  overflow: hidden;
  max-width: 95%;
}

.cuadro figure {
  transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  -webkit-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  filter: blur(1.2px) brightness(1.3);
  -webkit-filter: blur(1.2px) brightness(1.3);
  -moz-filter: blur(1.2px) brightness(1.3);
  -ms-filter: blur(1.2px) brightness(1.3);
  -o-filter: blur(1.2px) brightness(1.3);
  filter: blur brightness;
}

.cuadro h3 {
  border-color: white;
  color: ghostwhite;
  text-shadow: 2px 2px #141826;
  border-radius: 3px;
  font-family: Georgia;
}