body{
	background-color: #fff;
}

/* -- Encabezado --*/
.encabezado .contenido {
  height:300px;
  background: url(../imgs/menu/sobre.jpeg) no-repeat 50% 50%;
  background-size: cover;
}

.contenido hr {
	top: 22%;
}

/* -- Contenido --*/	
.contenedor-izq {
    float: left;
    position: relative;
    top: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.contenedor-der {
    float: right;
    position: relative;
    top: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.texto-izq {
	margin-right: 60%;
	margin-top: -20%;
	margin-bottom: 15%;
	position:relative;
}

.texto-der {
	margin-right: 65%;
	margin-top: -25%;
	margin-bottom: 15%;
	position:relative;
}

.descripcion {
	top: 10%;
	width: 90%;
	text-align:center;
	color: #000;
	font-weight:400;
	opacity:.8;
}

.cuadro {
  margin: 50px;
  height: 200px;
  width: 200px;
  font-family: monospace;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.cuadro figure {
  transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  -webkit-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
}

.cuadro h3 {
    color: #fff;
}

/* -- Redes sociales --*/

.linkedin, .fb, .tw, .ig {
	font-size: 50px;
	margin-left: 15px;
}


.linkedin {
    color: black;
    }

.fb {
    color: midnightblue;
    }

.tw {
    color: dodgerblue;
    }

.ig {
    color: mediumvioletred;
    }

/* -- Medias --*/

/* PC */

@media (min-width: 1920px){
	.cuadro {
	  height: 300px;
	  width: 300px;
	}
	
	.linkedin, .fb, .tw, .ig {
		font-size: 80px;
		margin-left: 15px;
	}
}

@media (min-width: 320px) and  (max-width: 667px){
	  .titulo {
		  font-size: 20px;
	  }
	  
	  .cuadro {
		  height: 130px;
		  width: 130px;
	  }
	  
	  .contenedor-redes {
		  margin-top: -25%;
	  }
	  
	  .linkedin, .ig, .fb, .tw {
		  font-size: 25px;
		  margin-left: 5px;
	  }
}

@media (max-width: 900px) {
	.contenedor-redes{
		font-size: 20px;
	}
	
	.texto-der {
		margin-top: 15%;
		margin-right:2%;
	}
	
	.texto-izq {
		margin-top: 15%;
		margin-right:2%;
	}
}